* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: 0;
}

.background, .foreground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.background {
    transform: translateZ(-2px) scale(3);
    z-index: -2;
}

.foreground {
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

h1 {
    position: absolute;
    top: 5rem;
    letter-spacing: 4px;
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1;
}

section {
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 5rem 0;
    z-index: 0;
}

.secheading {
    font-size: 5rem;
    padding: 0 10rem;
    text-align: center;
}

.text {
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
    text-align: center;
}

.bg {
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    height: 400px;
    background-size: cover;
}

.desc {
    position: absolute;
    background: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    font-size: 3.5rem;
    color: black;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bg1 {
    background-image: url('biking.jpeg');
}

.bg2 {
    background-image: url('para.jpeg');
}

.bg3 {
    background-image: url('surfing.jpeg');
}
